.course-card-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  align-self: center;
  width: 120px;

  margin-bottom: 15px;
  padding: 5px;
  border-radius: 8px;
  margin-right: 18px;
  flex-grow: 1;
}
.nav-links {
  text-decoration: none;
}
.course-card-image {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.course-card-heading {
  color: #1e293b;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  padding-top: 8px;
}
@media screen and (min-width: 768px) {
  .course-card-list {
    width: 200px;
    padding: 10px;
  }
  .course-card-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .course-card-heading {
    color: #1e293b;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto';
    padding-top: 8px;
  }
}
